.blurheader {
    display: flex;
    justify-content: center;
    border: 1px solid var(--nxp-primary-color);
    border-radius: 3px;
    backdrop-filter: blur(10px); 
    background-color: transparent;    
    position: sticky;
    top: 0;
  }
  