
.input {
    padding: 0.6rem;
    margin: 0.6rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: var(--nxp-font-family);
    transform: scale(1.5);
    cursor: pointer;
    position: relative;
}

.input:focus, .input:active {
        box-shadow: none;
}


.input:checked {
    accent-color: var(--nxp-primary-color); 
}