
.modalOpen {
    pointer-events: none;
}

.modalOpen::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal {
    position: fixed;
    padding : 1rem;
    top: 50%;
    left: 50%;
    width: 30rem;
    max-width: 90%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    pointer-events: auto;
    background-color: var(--nxp-background-color);
    color : var(--nxp-shadow-color);
    border: none;
    border-radius: 12px;
}