

/* Radio.module.css */

.radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    accent-color: black; /* Cambia questo al colore desiderato */
    

}

.radio input[type="radio"] {
    margin-right: 6px;

}

