.sectionmenu {
    font-family: var(--nxp-font-family);
    color : var(--nxp-shadow-color);
    background: var(--nxp-background-color);
    overflow-y: auto;
    max-height: 750px;
    max-width: 400px;
  }

  .sectionmenuWrapper {
    overflow: visible;
}
  
  .sectionmenu ul{
  padding: 0;
  margin: 0;
  
  }
  .sectionmenu li{
  list-style: none;
  border-radius: var(--nxp-border-radius);
  transition: color 0.3s ease; 
  font-size: small;

  
  }
  
  .sectionmenu li:hover{
    color: var(--nxp-secondary-color);
  }
  .sectionmenu a {
  color: inherit; 
  text-decoration: none; 
  }
  
  .noPadding {
  padding: 0 !important;
  }
  
  .noMargin {
  margin: 0 !important;
  }