.select {
    background-color: var(--nxp-background-color);
    color: var(--nxp-primary-color);
    font-family: var(--nxp-font-family);
    font-size: 13px;
    margin: 1.7rem;
    cursor: pointer;
    width: 16rem;

}

.selectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid var(--nxp-shadow-color);
    border-radius: var(--nxp-border-radius);
}

.selectMenu {
    border: 1px solid var(--nxp-secondary-shadow-color);
    right: 0;
    background-color: var(--nxp-background-color);
    color: var(--nxp-shadow-color);
    z-index: 1;
    margin-top: 0.5rem;
    width: 16rem;
    border-radius: 4px;
}

.select ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.select li {
    padding: 0.5rem;
    cursor: pointer;
}

.select li:hover {
    background-color: var(--nxp-secondary-shadow-color);
    color: var(--nxp-primary-color);
}

.select a {
    color: inherit;
    text-decoration: none;
}
