
.hr {
    border: none;
    height: 1px;
    border-top: 1px solid var(--nxp-primary-color);
}

.gradient {
    background: linear-gradient(to right, var(--nxp-background-color), var(--nxp-primary-color), var(--nxp-background-color));
    border-top: none;
}