.nav {
  width : 17rem;
  background-color: var(--nxp-background-color) ;
  color:  var(--nxp-primary-color);
  font-family: var(--nxp-font-family);
  margin: 0;
  padding: 0;
}

.nav ul{
padding: 0;
margin: 0;

}
.nav li{
list-style: none;
padding: 0.5rem;
border-radius: var(--nxp-border-radius);

}

.li:hover{
background-color: var(--nxp-secondary-color);
color: var(--nxp-background-color);
}


.nav parent:hover{
  background-color: var(--nxp-background-color) ;
}

.nav a {
color: inherit; 
text-decoration: none; 
}


.noPadding {
padding: 0 !important;
}

.noMargin {
margin: 0 !important;
}

