.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nxp-secondary-shadow-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px; 
    width: 16px;
    left: 2px;
    bottom: 2px; 
    background-color: var(--nxp-background-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--nxp-secondary-color) ;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px); 
    -ms-transform: translateX(20px); 
    transform: translateX(20px); 
  }
  
  .sliderRound {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  input:checked + .slider.notice {
    background-color: var(--nxp-blue);
}

input:checked + .slider.info {
    background-color: var(--nxp-violet);
}

input:checked + .slider.success {
    background-color: var(--nxp-green);
}

input:checked + .slider.warning {
    background-color: var(--nxp-orange);
}

input:checked + .slider.error {
    background-color: var(--nxp-red);
    
}

input:checked + .slider.primary {
    background-color: var(--nxp-primary-color);
    border : '1px solid var(--nxp-primary-color)';
}

input:checked + .slider.secondary {
    background-color: var(--nxp-secondary-color);
}