.table {
    width: 100%;
    border-collapse: collapse;
    padding: 1.2rem;

}

.thead {
    border: none;

}

.thead th {
    padding: 10px;
    text-align: left;
    width: 100px;
    color: var(--nxp-shadow-color);
    border-bottom: 1px solid var(--nxp-shadow-color);

}


.tr:nth-child(n) {
    background-color: var(--nxp-backgruond-color);
}

.tr {
    padding: 10px;
    border-bottom: 1px solid var(--nxp-secondary-shadow-color);

}

.td {

    text-align: left;
    padding: 10px;
    color: var(--nxp-primary-color);
}

.th {
    text-align: left;
    padding: 10px;
    color: var(--nxp-primary-color);
    background-color: var(--nxp-background-color);

}

.tr:hover {
    background-color: var(--nxp-secondary-shadow-color);
}