.input {
    padding: 0.6rem;
    margin: 0.6rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: var(--nxp-font-family);
    outline: none;
    border: 1px solid var(--nxp-shadow-color); 
    box-sizing: border-box;
    border-radius: 6px;
    
}

.input:focus {
    border: 1px solid var(--nxp-secondary-color); 
}

.label {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 12px;
    color: var(--nxp-shadow-color);
}



