.input {
    padding: 0.6rem;
    margin: 0.6rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: var(--font-family);
    outline: none;
    border: 1px solid var(--primary-color); 
    box-sizing: border-box;

}

