.h1 {
    font-size: 2em;
    font-weight: bold;
    color : var(--nxp-primary-color);
    font-family: var(--nxp-font-family);
  }
  
  .h2 {
    font-size: 1.5em;
    color : var(--nxp-primary-color);
    font-family: var(--nxp-font-family);  }
  
  .h3 {
    font-size: 1.17em;
    color : var(--nxp-primary-color);
    font-family: var(--nxp-font-family);  }
  
  .h4 {
    font-size: 1em;
    color : var(--nxp-primary-color);
    font-family: var(--nxp-font-family);  }
  
  .h5 {
    font-size: 0.83em;
    color : var(--nxp-primary-color);
    font-family: var(--nxp-font-family);  }
  
  .h6 {
    font-size: 0.67em;
    color : var(--nxp-primary-color);
    font-family: var(--nxp-font-family);  }
  
  .p {
    font-size: 1em;
    color : var(--nxp-primary-color);
    font-family: var(--nxp-font-family);  }

  .abstract {
    font-size: 1em;
    color: var(--shadow-color);
    font-family: var(--nxp-font-family);  
  }