.card {
    background-color: var(--nxp-light-green);
    color : var(--nxp-primary-color);
    margin: 1.2rem;
    padding: 0.6rem;
    text-align: center;
    border-radius: 6px;
    word-wrap: break-word; /* o overflow-wrap: break-word; */
}

