
.button {
    background-color: var(--nxp-secondary-color); 
    border: 1px solid transparent;
    color: var(--nxp-background-color);
    border-radius: var(--nxp-border-radius);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding: 0.6rem;
    margin: 0.6rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    font-family: var(--nxp-font-family);
    box-sizing: border-box;
}

.button:hover {
    opacity: 0.6;
}