:root {
          --nxp-primary-color: black;
          --nxp-secondary-color: #2563EB;
          --nxp-background-color: white;
          --nxp-shadow-color: #6B7280;
          --nxp-secondary-shadow-color: #CCCCCC;
          --nxp-border-radius: 9px;
          --nxp-line-height: 1.8;
          /*Fixed */
          --nxp-red: #E11D48;
          --nxp-blue: #2563EB;
          --nxp-orange: #F97316;
          --nxp-violet: #7C3AED;
          --nxp-grey: #6B7280;
          --nxp-green: #16A34A;
          --nxp-yellow: #FEFF99;
          --nxp-cian: #CCF2FF;
          --nxp-light-violet: #E2E4E3;
          --nxp-light-red: #FFB3B3;
          --nxp-light-green: #c5fa9f;
          --nxp-font-family: 'Inter', sans-serif;
        }

        [data-theme="dark"] {
          --nxp-primary-color: white;
          --nxp-background-color: black;
     
        }
        
        html, body {
          background-color :  var(--nxp-background-color);
          line-height: var(--nxp-line-height);
          color: var(--nxp-background-color);
          font-family: var(--nxp-font-family);
        }